body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to left, #00AAFF, #00FF6C);
}

.calculadora-grilla{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculadora-grilla > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}
.numero{
    font-weight: 700;
}
.operaciones{
    color: chocolate;
}
#limpiar{
    color: red;
}
#igual{
    color: blueviolet;
}
.calculadora-grilla > button:hover {
    background-color: rgba(255, 255, 255, .9);
}

.output{
    grid-column: 1/-1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .display{
    color: black;
    font-size: 1.85rem;
    text-align: right;
}

.footer{
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-top: 0;
}

.footer .texto{
    font-size: 30px;
    font-weight: 700;
}
.footer .texto a{
    text-decoration: none;
    color: blue;
}